# App settings
NAME=Joke Bot Web
DEBUG=false
ADDRESS=0.0.0.0
PORT=8000

# Database
DB_NAME=jokebot
DB_USER=postgres
DB_PASSWORD=postgres

# pgAdmin
PGADMIN_EMAIL=admin@jokebot.local
PGADMIN_PASSWORD=admin

# Caddy settings
CADDY_HOST=0.0.0.0
CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443
